body {
  font-size: 16px;
}

.container {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}

.inputSection {
  text-align: center;
}

.text {
  font-size: 1.3em;
}

.input {
  border: 0;
  border-bottom: 1px solid black ;
  font-size: 1em;
  padding-right: 50px;
}

.input:focus {
  outline: none;
  border-bottom: 1px solid rgb(250, 147, 44);
}

.clearButton {
  font-size: 1em;
  margin-left: -50px;
  width: 50px;
}

.inputContainer {
  display: flex;
  justify-content: center;
}

.graphContainer {
  height: 350px;
  width: 350px;
}

.resultContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px
}

.checkedInputText {
  height: 3em;
}
